<div
  *ngIf="isLoading"
  class="loader v-center h-center flex-cont-row">
  <div>
    <i class="fa fa-spinner fa-spin mr-2"></i>
    Caricamento...
  </div>
</div>
<div
  class="loader flex-cont-col"
  *ngIf="!isLoading">
  <div
    class="title d-flex align-items-center justify-content-center">
    <div>
      <i class="fa fa-chevron-left mr-2"></i>
      <a (click)="goBack()">Indietro</a>
    </div>
    <h1 class="m-0 mx-auto">
      {{ movie.Title }}
    </h1>
    <div style="opacity: 0">
      <i class="fa fa-chevron-left mr-2"></i>
      <a>Indietro</a>
    </div>
  </div>
  <div class="flex-cont-row flex-1">
    <div
      [ngStyle]="{
        'background-image': 'url(' + movie.Poster + ')'
      }"
      class="poster flex-1">
    </div>
    <div class="info flex-2 flex-cont-col">
      <div
        *ngFor="let field of movieFields"
        [ngClass]="field.cssClass"
        class="flex-1 text-bold flex-cont-col">
        <span
          [style.color]="field.color"
          class="font-weight-bold">
          {{ field.text }}
        </span>
        {{ movie[field.property] }}
      </div>
    </div>
  </div>
</div>
