<div class="flex-cont-row flex-wrap users-cont">
  <div
    *ngFor="let utente of utenti"
    class="flex-cont-col h-center user-cont">
    <div class="flex-cont-col">
      <div class="user-avatar">
      </div>
    </div>
    <div class="flex-cont-col h-center user-info">
      <h2>Nome Cognome</h2>
      <h3>nome.cognome@gmail.com</h3>
    </div>
    <div class="flex-cont-col h-center">
      <div class="separator"></div>
    </div>
    <div class="flex-cont-row">
      <div *ngFor="let star of [1,2,3,4,5]; let i = index">
        <fa name="star-o"></fa>
      </div>
    </div>
  </div>
</div>
