<div class="d-flex align-items-center mb-3">
  <h1 class="mr-auto">Lista Utenti</h1>
  <button
    (click)="add()"
    class="btn btn-primary">
    <i class="fa fa-plus"></i>
    Aggiungi
  </button>
</div>
<div>
  <table class="table">
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Cognome</th>
      <th>Email</th>
      <th>Rating</th>
      <th>Azioni</th>
    </tr>
    <tr *ngFor="let utente of utenti">
      <td>{{ utente.id }}</td>
      <td>{{ utente.nome }}</td>
      <td>{{ utente.cognome }}</td>
      <td>{{ utente.email }}</td>
      <td>{{ utente.rating }}</td>
      <td>
        <button
          (click)="edit(utente)"
          class="btn btn-primary"
          title="Modifica">
          <i class="fa fa-edit"></i>
        </button>
        <button
          (click)="delete(utente)"
          class="btn btn-danger"
          title="Elimina">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
    <tr *ngIf="utenti.length == 0">
      <td colspan="6" class="text-center">Non ci sono utenti</td>
    </tr>
  </table>
</div>
