<div class="p-2">
  <a (click)="goBack()">Indietro</a>
  <div class="d-flex align-items-center">
    <h1 class="mr-auto">
      {{ isEdit ? 'Modifica Utente' : 'Aggiungi nuovo Utente' }}
    </h1>
    <button
      (click)="createUser(userForm)"
      [class.disabled]="userForm.invalid"
      [disabled]="userForm.invalid"
      class="btn btn-primary">
      Aggiungi
    </button>
  </div>
  <pre>
    Form Valida: {{ userForm.valid }}
    EditUser: {{ editUser | json }}
  </pre>
  <form #userForm="ngForm">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input
        [(ngModel)]="editUser.nome"
        name="nome"
        required
        class="form-control"
        id="nome"
        type="text">
    </div>
    <div class="form-group">
      <label for="cognome">Cognome</label>
      <input
        required
        [(ngModel)]="editUser.cognome"
        name="cognome"
        class="form-control"
        id="cognome"
        type="text">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        required
        email
        [(ngModel)]="editUser.email"
        name="email"
        class="form-control"
        id="email"
        type="email">
    </div>
    <div class="form-group">
      <label for="rating">Rating</label>
      <input
        required
        min="1"
        max="5"
        [(ngModel)]="editUser.rating"
        name="rating"
        class="form-control"
        id="rating"
        type="number">
    </div>
  </form>
</div>
