@import '../node_modules/bootstrap-scss/bootstrap';
@import 'variables';

.flex-cont-col {
  display: flex;
  flex-direction: column;
}

.flex-cont-row {
  display: flex;
  flex-direction: row;
}

.flex-1 {
  flex: 1;
}

.flex-cont-col {
  &.h-center {
    align-items: center;
  }

  &.v-center {
    justify-content: center;
  }
}

.flex-cont-row {
  &.v-center {
    align-items: center;
  }

  &.h-center {
    justify-content: center;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

input.ng-invalid:not(.ng-pristine) {
  border: 1px solid red;
}

input.ng-valid:not(.ng-pristine) {
  border: 1px solid green
}
